<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
        {% include framework.html-fragment %}
</head>
<body>

  <div id="page">

    {% include top-bar.html-fragment %}

      <div id="nom-content" class="nom-bordered">
      <div class="subnav">
        <ul class="nav nav-pills">
          <li {% if page.url contains 'hello-world' %} class="active" {% endif %} ><a href="/documentation/examples/hello-world.html">Hello World</a></li>
          <li {% if page.url contains 'sort' %} class="active" {% endif %} ><a href="/documentation/examples/sort.html">Sort</a></li>
          <li {% if page.url contains 'user-class' %} class="active" {% endif %} ><a href="/documentation/examples/user-class.html">User Class</a></li>
          <li {% if page.url contains 'primes' %} class="active" {% endif %} ><a href="/documentation/examples/primes.html">Primes</a></li>
          <li {% if page.url contains 'fibonacci' %} class="active" {% endif %} ><a href="/documentation/examples/fibonacci.html">Fibonacci</a></li>
        </ul>
      </div>

      {{ content }}

    </div>

    {% include signature.html-fragment %}

  </div>

</body>
</html>

