<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
        {% include framework.html-fragment %}
</head>
<body>

  <div id="page">

    {% include top-bar.html-fragment %}

      <div id="nom-content" class="nom-bordered">
      <div class="subnav">
        <ul class="nav nav-pills">
          <li {% if page.url contains 'idea' %} class="active" {% endif %} ><a href="/documentation/tutorial/idea.html">1. The Idea</a></li>
          <li {% if page.url contains 'syntax' %} class="active" {% endif %} ><a href="/documentation/tutorial/syntax.html">2. Syntax vs Semantics</a></li>
          <li {% if page.url contains 'basics' %} class="active" {% endif %} ><a href="/documentation/tutorial/basics.html">3. Basics</a></li>
          <li {% if page.url contains 'functions' %} class="active" {% endif %} ><a href="/documentation/tutorial/functions.html">4. Functions</a></li>
          <li {% if page.url contains 'sets' %} class="active" {% endif %} ><a href="/documentation/tutorial/sets.html">5. Sets</a></li>
          <li {% if page.url contains 'types' %} class="active" {% endif %} ><a href="/documentation/tutorial/types.html">6. Types</a></li>
          <li {% if page.url contains 'delog-and-trace' %} class="active" {% endif %} ><a href="/documentation/tutorial/debug.html">7. Debugging</a></li>
        </ul>
      </div>


      {{ content }}
    </div>

    {% include signature.html-fragment %}

  </div>

</body>
</html>

